<div class="text-center">
  <h1>🌊Battleships🚤</h1>

  <div>
    <h2 *ngIf="game.startGame == true">Score: {{game.score}}</h2>
    <h3 *ngIf="game.startGame == true">Ships remaining: {{game.remaining}}</h3>
  </div>
</div>


<div *ngIf="game.startGame == true && game.endGame == false" class="d-flex flex-row flex-wrap justify-content-around bg-light mt- cards-center">
  <div *ngFor="let cor of game.grid" class="border m-2  card emoji-center text-center" (click)="game.shoot(cor)" style="cursor: pointer; height: 200px; width: 200px; font-size: 50px;">
    <span *ngIf="cor.getFieldValue() == water">🌊</span>
    <span *ngIf="cor.getFieldValue() == ship">🚤</span>
    <span *ngIf="cor.getFieldValue() == hidden"></span>
  </div>
</div>

<div *ngIf="game.endGame == true" class="text-center">
  <h1>You won!</h1>
  <div class="start-button">
    <button class="btn btn-info" type="submit" (click)="game.restartGame()">Play again</button>
  </div>
</div>

<div class="footer">
  <p>Author: Boris Boček</p>
</div>
